#header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 1px #eee;
    margin-bottom: 10px;
}

#logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 1px;
    cursor: pointer;
}

#logo div {
    font-size: 24px;
    font-weight: bold;
    color: #ffa662;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 3px;
    padding-left: 5px;
}

#logo #wise {
    font-size: 30px;
    font-weight: bold;
    color: #8db9ff;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1.5px;
    padding-left: 1px;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav .nav-item {
    padding: 10px;
    color: #666;
    cursor: pointer;
}

#upload {
    font: 1em sans-serif;
    font-size: 35;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 28px;
    color: #3c3c3c;
}

.hello{
    width: 100%;
    height: 65%;;
    display: flex;
    align-content: center;
    justify-content: center;
}

#drop_area{
    width: 500px;
    height: 500px;
    padding: 30px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    border-radius: 20px;
    color: #272727;
    cursor: pointer;
}

#img_view{
    width: 100%;
    height: 100%;
    border-radius: 17px;
    border: 2px dashed #a8a8a8;
    background:color-mix(in hsl shorter hue, percentage, color percentage);
    background-position: centre;
    background-size: cover;
}


#img_view img{
    width: 500px;
    height: 500px;
    padding: 25px;
}
/* 
#predict_btn {
    background-color: #4CAF50;
    color: rgb(255, 0, 0);
    border: none;
    align-self: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
#predict_btn:hover {
    background-color: #3e8e41;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
  
#predict_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
} */

#result {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    width: 50%;
}